        
<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
 	 <li class="list-group-item" ng-repeat="ensayo in ensayos" ng-click="getMuestras($index)">{{ensayo.nombre}}</li>
 	</ul>
  </div>
  <div class="col-md-7">
  	<div ng-show="viewFormUpload">
  		<h3>{{currentEnsayo.nombre}}</h3>
  	</div>
  	<hr>
  	<div ng-repeat="muestra in muestras">
  		<table>
  			<tr>
  				<td></td>
  			</tr>
  			<tr>
  				<td><img src="./static/images/{{muestra.imagen}}" width="300" alt="..." class="img-rounded"></td>
  				<td valign="top" style="padding:20px">
  					<table>
  						<tr>
  							<td><h4>{{muestra.fecha}}</h4></td>
  						</tr>
  						<tr>
  							<td><p>{{muestra.emergencia}} %</p></td>
  						</tr>
  						<tr>
  							<td><p>{{muestra.comentario}}</p></td>
  						</tr>
  					</table>
  				</td>
  			</tr>
  		</table>
  		<hr/>
	  	
  	</div>
  </div>
  <div class="col-md-3">
  	<div ng-show="viewFormUpload">
		<form method="post" action="./" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="file">Seleccionar imagen de ensayo</label>
		    <input type="file" id="file">
	    
		  </div>
		  <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
		</form>
	</div>    
  </div>
</div>
